{{ define "/views/splash.html" }}
<div class="container-fluid">
   
    
    <div class="container">
        <p>Education
        <ul>
            <li>University of Pune
                <ul>
                    <li> 2004
                        <ul>
                            <li>Bachelor of Engineering (Mechanical)</li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>
        </p>
    </div>
    <div class="container">
        <p>Awards
        <ul>
            <li>2009
                <ul>
                    <li>Most valuable programmer, Infosys
                        <p>Awarded for the work done on Knowledge Based Engineering. Involved programming of Computer
                            Aided Design tools like CATIA for templating complex design (mechanical) components for an
                            aircraft OEM</p>
                    </li>
                </ul>
            </li>
            <li>2008
                <ul>
                    <li>Pride award, Boeing
                        <p>Awarded for the work done on Knowledge Based Engineering. Involved programming of Computer
                            Aided Design tools like CATIA for templating complex design (mechanical) components for an
                            aircraft OEM</p>
                    </li>
                </ul>
            </li>
            <li>2007
                <ul>
                    <li>Pride award, Boeing
                        <p>Awarded for the work done on Knowledge Based Engineering. Involved programming of Computer
                            Aided Design tools like CATIA for templating complex design (mechanical) components for an
                            aircraft OEM</p>
                    </li>
                </ul>
            </li>
        </ul>
        </p>
    </div>
    <div class="container">
        <p>Skills
        <ul>
            <li>GoLang
                <ul>
                    <li>Proficiency: 8.5</li>
                    <li>Span: 2017-today</li>
                </ul>
            </li>
            <li>AngularJS
                <ul>
                    <li>Proficiency: 8.5</li>
                    <li>Span: 2016-today</li>
                </ul>
            </li>
            <li>RaspberryPi
                <ul>
                    <li>Proficiency: 8.5</li>
                    <li>Span: 2018-today</li>
                </ul>
            </li>
            <li>Docker
                <ul>
                    <li>Proficiency: 7</li>
                    <li>Span: 2018-today</li>
                </ul>
            </li>
            <li>Python
                <ul>
                    <li>Proficiency: 6.5</li>
                    <li>Span: 2009-2014</li>
                </ul>
            </li>
            <li>MongoDB
                <ul>
                    <li>Proficiency: 6.5</li>
                    <li>Span: 2015-today</li>
                </ul>
            </li>
            <li>VBA
                <ul>
                    <li>Proficiency: 8</li>
                    <li>Span: 2005-2009</li>
                </ul>
            </li>
        </ul>
        </p>
    </div>
    <div class="container">
        <p>Languages
        <ul>
            <li>English</li>
            <li>Marathi</li>
            <li>Hindi</li>
        </ul>
        </p>
    </div>
    <div class="container">
        <p>Interests
        <ul>
            <li>Home Automation
                <p>Niranjan is an avid home automation junkie. He has multiple appliances that he has connected to the
                    cloud. He builds his own prototypal PCBs, with handmade embedded ware and cloudware.</p>
            </li>
            <li>Aquaponics
                <p>Niranjan is also trying out his hands at soil-less urban farming using recyclable water from domestic
                    aquarium</p>
            </li>
            <li>Badminton
                <p>Trained for 16 years, Niranjan played at various levels in his prime years, but now uses badminton as
                    a tool to keep himself fit</p>
            </li>
            <li>Gardening
                <p>Niranjan maintains a small yet diverse balcony garden. He is keen on reviving traditional techniques
                    to get more yield</p>
            </li>
        </ul>
        </p>
    </div>
    <div class="container">
        <p>Experience
        <ol>
            <li>Nov-2022-today
                <ul>
                    <li>Senior Software Engineer
                        <ul>
                            NCS Technologies Ltd.
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Mar-2022-Nov-2022
                <ul>
                    <li>Senior Developer
                        <ul>
                            Dheeti Technologies.
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Oct-2018-Mar-2022
                <ul>
                    <li>IoT developer
                        <ul>
                            Infosys Ltd.
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Sep-2016-Oct-2018
                <ul>
                    <li>Full stack developer
                        <ul>
                            Infosys Ltd.
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Oct-2009-Sep-2016
                <ul>
                    <li>Technical Evangelist
                        <ul>
                            Infosys Ltd.
                        </ul>
                    </li>
                </ul>
            </li>
            <li>Feb-2005-Oct-2009
                <ul>
                    <li>Technical Evangelist
                        <ul>
                            Infosys Ltd.
                        </ul>
                    </li>
                </ul>
            </li>
        </ol>
        </p>
    </div>
</div>
{{ end }}