<!DOCTYPE html>
<html lang="en">

<head>
    {{ template "globals/head.html"}}
</head>
<body>
    {{ template "globals/top-nav.html" }}
    <!-- this is for the desktop /laptop resolutions -->
    <div class="container mt-5 d-none d-md-block">
        {{ template "blogs/cover-img.html" .Cover}}
        {{ template "blogs/preface.html" .Preface}}
        {{ template "blogs/intro.html" .Intro}}
        {{ template "blogs/body.html" .Body}}
        {{ template "blogs/concl.html" .Conclusion}}
        {{ template "blogs/refs.html" .References}}
    </div>
    <!-- this is for the mobile resolutions -->
    <div class="container mt-5 d-block d-md-none">
        {{ template "blogs/cover-img.html" .Cover}}
        {{ template "blogs/preface-sm.html" .Mob.Preface}}
        {{ template "blogs/intro-sm.html" .Mob.Intro}}
        {{ template "blogs/body-sm.html" .Mob.Body}}
        {{ template "blogs/concl-sm.html" .Mob.Conclusion}}
        {{ template "blogs/refs-sm.html" .References}}
    </div>
</body>
</html>